@charset "UTF-8";

/* Todas as Medias */

/* 
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/

/* Media para Impressora --------------------------------*/

/* Media para Tablet ------------------------------------ */

@media screen and (min-width: 769px) and (max-width: 1024px){ 
    
    main{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section{
        width: 769px;
        height: 320px;
        position: relative;
    }

    img{
        width: 285px;
        height: 320px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    article{
        display: block;
        position: absolute;
        left: 40%;
        top: 5%;
    }

    p.usuario-senha > input{width: 408px;}

    p#botao-entrar > input{width: 440px;}
    p#botao-esqueci-a-senha > input {width: 440px;}
    
    }

/* Media para Desktops --------------------------------- */
@media screen and (min-width: 1025px){


    main{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section{
        width: 1025px;
        height: 320px;
        position: relative;
    }

    img{
        width: 300px;
        height: 320px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    article{
        display: block;
        position: absolute;
        left: 30%;
        top: 5%;
    }

    p.usuario-senha > input{width: 630px;}
    p#botao-entrar > input{width: 660px;}
    p#botao-esqueci-a-senha > input {width: 660px;}
    
    }